{% extends "base.html" %}
{% load i18n %}

{% block content %}

    <!-- 1) [ALL FIELDS] Error messages from (forms.py) -->
    <!-- {% for field in form %}
        {% for error in field.errors %}
            <div class="notification has-background-danger-light has-text-centered"> {{ error|escape }}
                <button class="delete"></button>
            </div>
        {% endfor %}
    {% endfor %} -->

    <!-- Message from backend (success - views.py) -->
    {% for message in messages %}
        {% if message.tags == 'success' %}
            <div class="notification has-background-info-light has-text-centered"> {{ message }}
                <button class="delete"></button>
            </div>
        {% endif %}
    {% endfor %}

    <div class="card p-2 m-5 has-text-centered">
        Frontend: FR-22 &nbsp;|&nbsp; Backend: BA-10 &nbsp;|&nbsp; Fullstack: FU-15
    </div>
    <form method="POST" enctype="multipart/form-data" class="card p-5 m-5 mt-5" novalidate>
        {% csrf_token %}
        <div class="columns is-multiline">
            <div class="column is-4">
                {{ form.firstname.label_tag }}
                {{ form.firstname }}

                {% for error in form.firstname.errors %}
                    <p class="help is-danger">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="column is-4">
                {{ form.lastname.label_tag }}
                {{ form.lastname }}

                {% for error in form.lastname.errors %}
                    <p class="help is-danger">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="column is-4">
                {{ form.job.label_tag }}
                {{ form.job }}

                {% for error in form.job.errors %}
                    <p class="help is-danger">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="column is-4">
                {{ form.email.label_tag }}
                {{ form.email }}

                {% for error in form.email.errors %}
                    <p class="help is-danger">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="column is-4">
                {{ form.birth.label_tag }}
                {{ form.birth }}

                {% for error in form.birth.errors %}
                    <p class="help is-danger">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="column is-4">
                {{ form.phone.label_tag }}
                {{ form.phone }}

                {% for error in form.phone.errors %}
                    <p class="help is-danger">{{ error }}</p>
                {% endfor %}
            </div>
        </div>

        <hr class="p-1">

        <div class="columns is-multiline">
            <div class="column is-4">
                {{ form.personality.label_tag }}
                {{ form.personality }}

                {% for error in form.personality.errors %}
                    <p class="help is-danger">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="column is-4">
                {{ form.salary.label_tag }}
                {{ form.salary }}

                {% for error in form.salary.errors %}
                    <p class="help is-danger">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="column is-2">
                {{ form.gender.label_tag }}
                {{ form.gender }}

                {% for error in form.gender.errors %}
                    <p class="help is-danger">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="column is-2">
                {{ form.smoker.label_tag }}
                {{ form.smoker }}

                {% for error in form.smoker.errors %}
                    <p class="help is-danger">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="column is-12">
                {{ form.experience.label_tag }}
                {{ form.experience }}

                {% for error in form.experience.errors %}
                    <p class="help is-danger">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="column is-12">
                {{ form.message.label_tag }}
                {{ form.message }}

                {% for error in form.message.errors %}
                    <p class="help is-danger">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="column is-12">
                {{ form.file.label_tag }}
                {{ form.file }}

                {% for error in form.file.errors %}
                    <p class="help is-danger">{{ error }}</p>
                {% endfor %}
            </div>
        </div>
    <button type="submit" class="button is-info p-2 mt-1">Submit</button>
    </form>
{% endblock %}