{% extends "base.html" %}
{% load i18n %}

{% block content %}

    <!-- 1) [ALL FIELDS] Error messages from (forms.py) -->
    <!-- {% for field in form %}
        {% for error in field.errors %}
            <div class="notification has-background-danger-light has-text-centered"> {{ error|escape }}
                <button class="delete"></button>
            </div>
        {% endfor %}
    {% endfor %} -->

    <!-- Message from backend (success - views.py) -->
    {% for message in messages %}
        {% if message.tags == 'success' %}
            <div class="notification has-background-info-light has-text-centered"> {{ message }}
                <button class="delete"></button>
            </div>
        {% endif %}
    {% endfor %}

    <form method="POST" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        <!--   Card 1 (Personal)     -->
        <div class="card p-5 m-5 mt-5">
            <div class="notification is-light p-1 has-text-centered">
                PERSONAL
            </div>
            <div class="columns is-multiline">
                <div class="column is-4">
                    {{ form.firstname.label_tag }}
                    {{ form.firstname }}

                    {% for error in form.firstname.errors %}
                        <p class="help is-danger">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="column is-4">
                    {{ form.lastname.label_tag }}
                    {{ form.lastname }}

                    {% for error in form.lastname.errors %}
                        <p class="help is-danger">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="column is-4">
                    {{ form.job.label_tag }}
                    {{ form.job }}

                    {% for error in form.job.errors %}
                        <p class="help is-danger">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="column is-4">
                    {{ form.email.label_tag }}
                    {{ form.email }}

                    {% for error in form.email.errors %}
                        <p class="help is-danger">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="column is-4">
                    {{ form.birth.label_tag }}
                    {{ form.birth }}

                    {% for error in form.birth.errors %}
                        <p class="help is-danger">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="column is-4">
                    {{ form.phone.label_tag }}
                    {{ form.phone }}

                    {% for error in form.phone.errors %}
                        <p class="help is-danger">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>

            <hr class="p-1">

            <div class="columns is-multiline">
                <div class="column is-4">
                    {{ form.personality.label_tag }}
                    {{ form.personality }}

                    {% for error in form.personality.errors %}
                        <p class="help is-danger">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="column is-4">
                    {{ form.salary.label_tag }}
                    {{ form.salary }}

                    {% for error in form.salary.errors %}
                        <p class="help is-danger">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="column is-2">
                    {{ form.gender.label_tag }}
                    {{ form.gender }}

                    {% for error in form.gender.errors %}
                        <p class="help is-danger">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="column is-2">
                    {{ form.smoker.label_tag }}
                    {{ form.smoker }}

                    {% for error in form.smoker.errors %}
                        <p class="help is-danger">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="column is-12">
                    {{ form.experience.label_tag }}
                    {{ form.experience }}

                    {% for error in form.experience.errors %}
                        <p class="help is-danger">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="column is-12">
                    {{ form.message.label_tag }}
                    {{ form.message }}

                    {% for error in form.message.errors %}
                        <p class="help is-danger">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="column is-12">
                    {{ form.file.label_tag }}
                    {{ form.file }}

                    {% for error in form.file.errors %}
                        <p class="help is-danger">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="column is-12">
                    {{ form.image.label_tag }}
                    {{ form.image }}

                    {% for error in form.image.errors %}
                        <p class="help is-danger">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!--   Card 2 (Educational)     -->
        <div class="card p-5 m-5 mt-5">
            <div class="notification is-light p-1 has-text-centered">
                EDUCATIONAL
            </div>
            <div class="columns is-multiline">
                <div class="column is-4">
                    {{ form.institution.label_tag }}
                    {{ form.institution }}

                    {% for error in form.institution.errors %}
                        <p class="help is-danger">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="column is-4">
                    {{ form.course.label_tag }}
                    {{ form.course }}

                    {% for error in form.course.errors %}
                        <p class="help is-danger">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="column is-2">
                    {{ form.started_course.label_tag }}
                    {{ form.started_course }}

                    {% for error in form.started_course.errors %}
                        <p class="help is-danger">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="column is-2">
                    {{ form.finished_course.label_tag }}
                    {{ form.finished_course }}

                    {% for error in form.finished_course.errors %}
                        <p class="help is-danger">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="column is-12">
                    {{ form.about_course.label_tag }}
                    {{ form.about_course }}

                    {% for error in form.about_course.errors %}
                        <p class="help is-danger">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="column is-3">
                    {{ form.status_course.label_tag }}
                    {{ form.status_course }}

                    {% for error in form.status_course.errors %}
                        <p class="help is-danger">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!--   Card 3 (Profesional)     -->
        <div class="card p-5 m-5 mt-5">
            <div class="notification is-light p-1 has-text-centered">
                PROFESIONAL
            </div>
            <div class="columns is-multiline">
                <div class="column is-4">
                    {{ form.company.label_tag }}
                    {{ form.company }}

                    {% for error in form.company.errors %}
                        <p class="help is-danger">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="column is-4">
                    {{ form.position.label_tag }}
                    {{ form.position }}

                    {% for error in form.position.errors %}
                        <p class="help is-danger">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="column is-2">
                    {{ form.started_job.label_tag }}
                    {{ form.started_job }}

                    {% for error in form.started_job.errors %}
                        <p class="help is-danger">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="column is-2">
                    {{ form.finished_job.label_tag }}
                    {{ form.finished_job }}

                    {% for error in form.finished_job.errors %}
                        <p class="help is-danger">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="column is-12">
                    {{ form.about_job.label_tag }}
                    {{ form.about_job }}

                    {% for error in form.about_job.errors %}
                        <p class="help is-danger">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="column is-3">
                    {{ form.employed.label_tag }}
                    {{ form.employed }}

                    {% for error in form.employed.errors %}
                        <p class="help is-danger">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="column is-3">
                    {{ form.remote.label_tag }}
                    {{ form.remote }}

                    {% for error in form.remote.errors %}
                        <p class="help is-danger">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="column is-3">
                    {{ form.travel.label_tag }}
                    {{ form.travel }}

                    {% for error in form.travel.errors %}
                        <p class="help is-danger">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!--  Buttons  -->
        <button type="submit" class="button is-info p-2 mt-1">Submit</button>
        <a href="{% url 'register' %}" class="button is-dark p-2 mt-1">Reset</a>
        <a href="{% url 'home' %}" class="button is-dark-light p-2 mt-1">Cancel</a>
    </form>

{% endblock %}